<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Title</title>

    <!-- development -->
    <link rel="stylesheet" type="text/css" href="assets/css/style.css" />

    <!-- production -->
    <!-- <link rel="stylesheet" type="text/css" href="css/style.css" /> -->
</head>

<body>

    <h1>Html content here</h1>


    <!-- development -->
    <script type="text/javascript" href="assets/js/app.js"></script>

    <!-- production -->
    <!-- <script type="text/javascript" href="js/bundle.min.js"></script> -->
</body>

</html>
